*{
    border: border-box;
}
body{
    margin: 0px;
    border: border-box;
}

.upper-nav {
    background-color:  #0F1111;
    height: 70px;
    /* width: 100vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px;
    position: sticky;
    top: 1px;
}

.upper-nav-logo {
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo {
    height: 40px;
}
.upper-nav-location {
    width: 70px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.upper-nav-search{
    height: 60px;
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}
#category{
    height: 40px;
    width: 45px;
    /* margin-right: 0px; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px ;
    background-color: #f3f3f3;
    text-align: center;
    border: none;
    margin-right : 2px;
    /* margin-right: 0px; */
}
#search{
    height: 40px;
    margin-right : 2px;
    width: 850px;
    padding: 0px;
    font-size: 1rem;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none
}
#search-btn{
    /* margin-left: 0px; */
    margin-right : 2px;
    height: 40px;
    width: 45px;
    background-color: #f08804;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px ;
    border: none
}

.upper-nav-extra{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    color: aliceblue;
    width: 380px;
    height: 55px;
}
.Signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: aliceblue;
}

#return_and_order{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.font1{
    font-size: 12px;
}
.font2{
    font-size: 14px;
}
#cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    transform: scale(1.2);
    margin: 5px;
}

.lowernav{
    height: 40px;
    /* width: 100vw; */
    background-color: #1f2323;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: aliceblue;
}
.menu{
    height: 30px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.options{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
}

#option1,#option2,#option3,#option4,#option5{
    height: 30px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#option1:hover{
    border-radius: 2px;
    border: 2px;
    height: 28px;
    width: 121px;
    border-style: solid;
    border-color: aliceblue;
}
#option2:hover{
    border-radius: 2px;
    border: 2px;
    height: 28px;
    width: 121px;
    border-style: solid;
    border-color: aliceblue;
}
#option3:hover{
    border-radius: 2px;
    border: 2px;
    height: 28px;
    width: 121px;
    border-style: solid;
    border-color: aliceblue;
}
#option4:hover{
    border-radius: 2px;
    border: 2px;
    height: 28px;
    width: 121px;
    border-style: solid;
    border-color: aliceblue;
}
#option5:hover{
    border-radius: 2px;
    /* border: 2px; */
    height: 28px;
    width: 121px;
    border-style: solid;
    border-color: aliceblue;
}
.menu:hover{
    height: 28px;
    width: 56px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 2px;
    /* border: 2px; */
}